:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    box-sizing: border-box;
    background-color: grey;
    margin: 0;
}

input {
    display: none;
}

img {
    width: 100%;
}

.wrapper {

    max-width: 37.5rem;

    margin: calc((100vh - 34rem) / 2) auto;
    padding: 1rem;

    border: 1.6rem solid;
    border-color: rgb(56, 56, 56);
    border-radius: 2rem;
}

.slider {
    height: auto;
    max-width: 37.5rem;
    padding: 0;
    overflow: hidden;

}



.slider__images {
    width: 400%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transform: translateX();
}

.slider__image {
    width: 100%;

}

.slider__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.slider__controls {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.button {
    display: flex;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.25rem;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.button__wrapper {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: rgb(216, 123, 123);
    margin: 0 0.25rem;
}

.button:hover .button__wrapper {
    background: white;

}

.button:active .button__wrapper {
    background: rgb(184, 201, 139);

}

.slider__description-wrapper {
    overflow: hidden;
}

.slider__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 400%;
}



.slider__description-text {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

#slide1:checked~.slider__images {
    transform: translateX(0);
    transition: all .3s;
}

#slide2:checked~.slider__images {
    transform: translateX(-25%);
    transition: all .3s;
}

#slide3:checked~.slider__images {
    transform: translateX(-50%);
    transition: all .3s;
}

#slide4:checked~.slider__images {
    transform: translateX(-75%);
    transition: all .3s;
}

#slide1:checked~.slider__footer .slider__description {
    transform: translateX(0);
    transition: all .3s;
}

#slide2:checked~.slider__footer .slider__description {
    transform: translateX(-25%);
    transition: all .3s;
}

#slide3:checked~.slider__footer .slider__description {
    transform: translateX(-50%);
    transition: all .3s;
}

#slide4:checked~.slider__footer .slider__description {
    transform: translateX(-75%);
    transition: all .3s;
}

#slide1:checked~.slider__footer .button_1 .button__wrapper,
#slide2:checked~.slider__footer .button_2 .button__wrapper,
#slide3:checked~.slider__footer .button_3 .button__wrapper,
#slide4:checked~.slider__footer .button_4 .button__wrapper {
    width: 0.75rem;
    height: 0.75rem;
    background: gray;
    transition: 0.3s;
    border: 0.125rem solid;
    border-color: rgb(216, 123, 123);

}

#slide1:checked~.slider__footer .button_1 .button__wrapper:hover,
#slide2:checked~.slider__footer .button_2 .button__wrapper:hover,
#slide3:checked~.slider__footer .button_3 .button__wrapper:hover,
#slide4:checked~.slider__footer .button_4 .button__wrapper:hover {
    background: gray;
    border-color: white;

}





@media screen and (max-width: 480px) {
    .slider__footer {
        flex-direction: column-reverse;
        align-items: center;

    }

    .slider__description-text {
        text-align: center;
    }

    .button {
        margin: 0;
    }

    .slider__controls {
        margin-top: 0.5rem;
    }
}